.container {
  height: 100%;
  display: flex;
}

.studioContainer {
  display: flex;
  flex-grow: 1;
}

.studio {
  flex: 1;
  border: 0;
}

.studioManageContainer {
  display: flex;
  width: 330px;
  min-width: 330px;
}
