@import './../../style-vars.module.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container A {
  color: $color_green;
  text-decoration: none;
}

.topBar {
  height: 65px;
  background-color: $color_gray40;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topBar > DIV {
  padding: 1rem;
}

.button {
  width: auto;
  min-height: 40px;
  appearance: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  background: $color_gray20;
  border-radius: 3px;
  border: none;
  color: $color_white;
  line-height: 1;
  padding: 0 15px;
  cursor: pointer;
  font-family: system-ui, -apple-system, Segoe UI,Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.button:hover {
  background-color: darken($color: $color_gray20, $amount: 5);
}

.button:active {
  background-color: darken($color: $color_gray20, $amount: 10);
}

.tabContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabList {
  background-color: $color_gray27;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.tabList > LI {
  list-style-type: none;
  flex: 1;
  text-align: center;
  color: $color_white;
  padding: 12px 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.selectedTab {
  background-color: $color_gray20;
}

.visibleTabPanel {
  flex-grow: 1;
  background-color: $color_gray20;
  color: $color_white;
  padding: .5rem 1rem;
  position: relative;
}

.invisibleTabPanel {
  display: none;
  position: relative;
}

.infoTabRow {
  display: flex;
  margin: 1.5rem 0;
}

.infoTabCol {
  flex: 1;
}

.infoHeader {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5rem;
}
