@import './../../style-vars.module.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container A {
  color: $color_green;
  text-decoration: none;
}

.topBar {
  height: 65px;
  background-color: $color_gray40;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topBar > DIV {
  padding: 1rem;
}

.tabContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabList {
  background-color: $color_gray27;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.tabList > LI {
  list-style-type: none;
  flex: 1;
  text-align: center;
  color: $color_white;
  padding: 12px 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.selectedTab {
  background-color: $color_gray20;
}

.visibleTabPanel {
  flex-grow: 1;
  background-color: $color_gray20;
  color: $color_white;
  padding: .5rem 1rem;
  position: relative;
}

.invisibleTabPanel {
  display: none;
  position: relative;
}

.infoTabRow {
  display: flex;
  margin: 1.5rem 0;
}

.infoTabCol {
  flex: 1;
}

.infoHeader {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5rem;
}
